.container{
    background-color: #FFF;
    width: 860px;
    height: 240px;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
    border-top:1px solid rgb(161, 150, 150);
    border-bottom:1px solid rgb(161, 150, 150);
}
.graft{
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.society{
    width: 200px;
    position: absolute;
    top: 0;
    left: 200px;
    padding: 0 20px;
}
.import{
    width: 200px;
    position: absolute;
    top: 0;
    right: 200px;
    padding-right: 20px;
}
.politician{
    width: 200px;
    position: absolute;
    right: 0;
    top: 0;
}
figure a img{
    width: 200px;
    padding:20px 0px 30px 0px;
}
figure, p{
    margin: 0;
}
a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}