section{
    width: 400px;
    margin: auto;
}

img{
    width: 200px;
    height: 105px;
}
figure,p{
    margin: 0;
}
.car{
    height: 205px;
    position: relative;
    
}
.one{
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    border: 1px solid #000;
    height: 105px;
}
.two{
    position: absolute;
    width: 200px;
    top: 0;
    right: 0;
    border: 1px solid #000;
    height: 105px;
}
.three{
    position: absolute;
    width: 200px;
    top: 100px;
    left: 0;
    border: 1px solid #000;
    height: 105px;
}
.four{
    position: absolute;
    width: 200px;
    top: 100px;
    right: 0px;
    border: 1px solid #000;
    height: 105px;
}
figcaption{
    position: absolute;
    top: 220px;
    left: 0;
}
figcaption p a{
    text-decoration: none;
    color: #666666;
    font-size: 20px;
    font-weight: bold;
}
footer{
    margin: 45px 0;
}