.container{
    width: 900px;
    height: 500px;
    margin: auto;
    background-color: aqua;
    position: relative;
}
figure,h5,h3,h6,p{
    margin: 0;
}
figure img{
    width:300px
}
.column1{
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
}
.column2{
    position: absolute;
    width: 300px;
    top: 0;
    left: 300px;
}
.column3{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 600px;
}
.column3 figure img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}
.column4{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 200px;
    right: 0;
}
.column4 figure img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}