.container{
    width: 640px;
    height: 290px;
    position: relative;
    margin: auto;
    border-bottom: 1px solid rgb(179, 161, 161);
    padding-bottom: 5px;
}
.column1{
    width: 200px;
    position: absolute;
    top:0;
    left: 0;
}

.column2{
    width: 200px;
    position: absolute;
    padding: 0px 20px;
    top: 0;
    left: 200px;
}
.column3{
    width: 200px;
    position: absolute;
    top:0;
    right: 0;
}
h3,h4,figure{
    margin: 30px 0px;
}

a{
    color: inherit;
    text-decoration: none;
}
figure p{
    margin: 0;
    text-align:justify;
    
}
figure img{
    width: 200px;
}
h4{
    border-top: 1px solid rgb(179, 161, 161);
    padding: 10px 0px;
}